.item-gestion {
  position: relative;
  margin: 1rem;
  border-radius: 10px;
  background: #fcfcfc;
  box-shadow: -1px 5px 36px -13px rgba(0,0,0,0.75);
  height: 8rem;
  overflow: hidden;
  z-index: 1000;
}

.cabecera {
  border-bottom: 3px solid #fdd835;

}

.contenedor-imagen {
  padding-right: 0;
  padding-left: 0;
}

.contenido {
  padding-top: 1rem;
}

.imagen {
  height: 8rem;
}

.precio {
  position: absolute;
  text-align: center;
  background-color: #fdd835;
  border-top-right-radius: 5px;
  color: black;
  bottom: -7px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.paginador-gestion{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

.paginador__chip__gestion{
  background: #0f0b04;
  color: #ffc107;
  padding: 0.3rem;
  border-bottom-right-radius: 5px;
}
