<div class="lista">
    <div class="container" [hidden]="!mostrarLista">
        <div class="row" *ngIf="inmuebles.length; else noRegistros">
            <div
                    [ngClass]="{'col-md-12': inmuebles.length === 1, 'col-md-6': inmuebles.length === 2, 'col-md-4': inmuebles.length > 2}"
                    *ngFor="let inmueble of inmuebles">
                <ng-container [ngTemplateOutlet]="templateRef"
                              [ngTemplateOutletContext]="{$implicit: (inmueble)}"></ng-container>
            </div>
        </div>
        <ng-template #noRegistros>
            No se encontraron registros....
        </ng-template>
        <ion-infinite-scroll #scroll threshold="100px" (ionInfinite)="cargarMasInmuebles($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas datos...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <div [hidden]="mostrarLista">
        <app-filtros-inmuebles></app-filtros-inmuebles>
    </div>
</div>
