<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs/gestion-inmueble">
                <ion-icon icon="arrow-back-circle" slot="icon-only">
                </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ estaEditando ? 'Editar Inmueble' : 'Crear Inmueble'}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-formulario-crear-editar-inmueble [hidden]="cargando">
        <ion-button
                *ngIf="!estaEditando"
                expand="full" color="success"
                [disabled]="!formularioValido"
                (click)="guardarInmueble()"
        >
            Publicar
        </ion-button>
        <ion-button *ngIf="estaEditando"
                    expand="full" color="success"
                    [disabled]="!formularioValido" (click)="editarInmueble()">
            Guardar Cambios
        </ion-button>
    </app-formulario-crear-editar-inmueble>
    <app-loader-formulario [hidden]="!cargando"></app-loader-formulario>
</ion-content>
