<ion-list>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="centro">
          <ion-label>Precio</ion-label>
          <ion-chip outline color="success">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>{{filtros.precios.lower}}</ion-label>
          </ion-chip> -
          <ion-chip outline color="success">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label>{{filtros.precios.upper}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-range min="5000" max="500000" id="precio" dual-knobs pin color="danger" [(ngModel)]="filtros.precios"
          mode="ios" step="5000">
        </ion-range>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="centro">
          <ion-label>Area Terreno</ion-label>
          <ion-chip outline color="primary">
            <ion-label>{{filtros.areaTerreno.lower}} m<sup>2</sup></ion-label>
          </ion-chip> -
          <ion-chip outline color="primary">
            <ion-label>{{filtros.areaTerreno.upper}} m<sup>2</sup></ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-range min="20" max="500" id="precio" dual-knobs pin color="danger" [(ngModel)]="filtros.areaTerreno"
          mode="ios" step="10">
        </ion-range>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="centro">
          <ion-label>Area Construccion</ion-label>
          <ion-chip outline color="secondary">
            <ion-label>{{filtros.areaConstruccion.lower}} m<sup>2</sup></ion-label>
          </ion-chip> -
          <ion-chip outline color="secondary">
            <ion-label>{{filtros.areaConstruccion.upper}} m<sup>2</sup></ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-range min="20" max="500" id="precio" dual-knobs pin color="danger" [(ngModel)]="filtros.areaConstruccion"
          mode="ios" step="10">
        </ion-range>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="centro">
          <ion-label>Pisos</ion-label>
          <ion-chip outline color="dark">
            <ion-icon name="business-outline"></ion-icon>
            <ion-label>{{filtros.plantas.lower}}</ion-label>
          </ion-chip> -
          <ion-chip outline color="dark">
            <ion-icon name="business-outline"></ion-icon>
            <ion-label>{{filtros.plantas.upper}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-range min="1" max="20" id="precio" dual-knobs pin color="danger" [(ngModel)]="filtros.plantas" mode="ios"
          step="1">
        </ion-range>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="centro">
          <ion-label>Habitaciones</ion-label>
          <ion-chip color="dark">
            <ion-icon name="bed"></ion-icon>
            <ion-label>{{filtros.habitaciones.lower}}</ion-label>
          </ion-chip> -
          <ion-chip color="dark">
            <ion-icon name="bed"></ion-icon>
            <ion-label>{{filtros.habitaciones.upper}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-range min="1" max="10" id="precio" dual-knobs pin color="danger" [(ngModel)]="filtros.habitaciones"
          mode="ios" step="1">
        </ion-range>
      </ion-row>
    </ion-grid>
  </ion-item>


  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="centro">
          <ion-label>Parqueaderos</ion-label>
          <ion-chip color="tertiary">
            <ion-icon name="car"></ion-icon>
            <ion-label>{{filtros.parqueaderos.lower}}</ion-label>
          </ion-chip> -
          <ion-chip color="tertiary">
            <ion-icon name="car"></ion-icon>
            <ion-label>{{filtros.parqueaderos.upper}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-range min="1" max="10" id="precio" dual-knobs pin color="danger" [(ngModel)]="filtros.parqueaderos"
          mode="ios" step="1">
        </ion-range>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-label>Es Alquiler</ion-label>
    <ion-checkbox slot="end" [value]="1" [(ngModel)]="filtros.esAlquiler"></ion-checkbox>
  </ion-item>

</ion-list>


<ion-list>
  <ion-list-header>
    <ion-label><strong>Categorias</strong></ion-label>
  </ion-list-header>
  <ion-item *ngFor="let categoria of categorias">
    <ion-label>{{categoria.nombre}}</ion-label>
    <ion-checkbox slot="end" [value]="categoria.id" (ionChange)="setearCategoria($event)"></ion-checkbox>
  </ion-item>
</ion-list>