<ion-header>
    <app-nav-bar></app-nav-bar>
    <ion-toolbar>
        <ion-title>
            Inmuebles
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="mostrarOcultarFiltros()" color="dark">
                <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [hidden]="estaFiltrando"
                       mode="ios"
                       animated
                       placeholder="Buscar por nombre"
                       autocomplete
                       debounce="1000"
                       (ionChange)="buscarPorNombre($event)"
        >
        </ion-searchbar>
        <ion-title [hidden]="!estaFiltrando">
            Filtrar inmuebles
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-lista-inmueble>
        <ng-template let-inmueble #itemInmueble>
            <app-item-inmueble [inmueble]="inmueble">
            </app-item-inmueble>
        </ng-template>
        <ng-template #titulo>
            <h1>Hola soy el titulo</h1>
        </ng-template>
    </app-lista-inmueble>
</ion-content>
