<ion-header>
  <app-nav-bar></app-nav-bar>
  <ion-toolbar>
    <ion-title>Inmuebles</ion-title>
    <ion-searchbar 
      mode="ios" 
      animated 
      placeholder="Buscar por nombre" 
      autocomplete 
      debounce="1000"
      (ionChange)="buscarPorNombre($event)"
      >
    </ion-searchbar>
    <ion-button slot="end" (click)="mostrarOcultarFiltros()">
      <ion-icon slot="icon-only" name="person-circle">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-lista-inmueble>
  </app-lista-inmueble>
</ion-content>