<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                    icon="arrow-back-circle">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            {{inmueble.nombre}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-carrusel [imagenes]="inmueble.imagenes" [opciones]="opciones"></app-carrusel>
    <ion-item color="warning">
        <ion-label>$ {{inmueble.precio}}</ion-label>
    </ion-item>
    <ion-card>
        <ion-card-content>
            <ion-label></ion-label>
            <ion-text color="dark">
                {{inmueble.descripcion}}
            </ion-text>

            <ion-item-divider></ion-item-divider>
            <ion-text color="dark">
                {{inmueble.direccion}}
            </ion-text>
        </ion-card-content>

        <ion-list>
            <ion-item *ngIf="inmueble.enAlquiler">
                <ion-label>
                    <ion-badge>Alquiler</ion-badge>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Tipo: </strong> {{inmueble.categoria.nombre}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Plantas: </strong> {{inmueble.plantas}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Habitaciones: </strong> {{inmueble.habitaciones}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><strong>Parqueaderos: </strong> {{inmueble.parqueaderos}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

</ion-content>
